





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}



.parent{
    min-height: 100vh;
  
    background: black;
    padding: 20px;
   display: flex;
flex-wrap: wrap;
   gap: 48px;
} 














.card{
    height: 350px;
    width: 300px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    
    justify-content: space-between;
  
} 


.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}






.top img{
    height: 100px;
   width: 100px;
    border-radius: 50%;
    border: 1px solid #dadada;
}



.top button{
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 12px;
    padding: 4px 8px;
    border: 2px solid #dadada;
    border-radius: 5px;
    background: transparent;
    color:#818181
}



.center h3{
    font-size: 17px;
    font-weight: 500;
}

.center h3 span{
    font-size: 13px;
    font-weight: 400;
    color: #8b8b8b;
}




.center .tag{
    display: flex;
    gap: 8px;
    
}

.center .tag h4{
    font-size: 14px;
    background: #dadada;
    color: #111;
    padding: 3px 6px;
    font-weight:400;
    margin-top: 10px;
    border-radius: 5px;
}




.bottom {
    display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #b1b1b1;
   padding: 10px 0;
}




.bottom button{
    background: #111;
    color: #b1b1b1;
    padding: 8px;
    border-radius: 10px;
    font-size: 10px;
    border: none;
}

.bottom h3{
    font-size: 17px;
   
}
.bottom p{
    font-size: 12px;
    color: #8b8b8b;
    
}